.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

img {
    cursor: pointer;
}
.grid-container {
    display: grid;
    width: 200px;
    height: auto;
    align-content:flex-end;
    margin: auto;
  }